<h3>Contact me</h3>
    <form id="form-contact" action="https://formspree.io/{{ index .Params 0 }}" method="POST">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-6">
          <input type="text" name="name" placeholder="Name" required>
        </div>
        <div class="col-xs-12 col-sm-6">
          <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="col-xs-12">
          <input type="text" name="_subject" placeholder="Subject" required>
        </div>
        <div class="col-xs-12">
          <textarea name="message" placeholder="Message" required></textarea>
        </div>
        <input type="text" name="_gotcha" style="display:none">
        <input type="hidden" name="_next" value="/">
        <div class="col-xs-12 contact-submit">
          <input id="form-submit" type="submit" value="Send">
          <span id="form-thankyou" style="visibility:hidden">Thanks for your email!</span>
        </div>
      </div>
    </form>